.wrap_circle {
  position: relative;
  width: 19rem; // 280 //
  height: 8rem; //120 //
  z-index: 1;
  // background-color: #999;
}

.circle-left,
.circle-right {
  position: absolute;
  top: 0;
  width: 6rem; // 90 
  height: 6rem; //90
  border-radius: 50%;
  border: 1rem solid $primary; //15
  background-color: #fff;
}

.circle-left {
  left: 0;
  box-shadow: inset 2px 2px 7px rgba(100, 100, 100, 0.2);
}

.circle-right {
  right: 0;
  box-shadow: inset -2px 2px 7px rgba(100, 100, 100, 0.2);
}

.circle-1 {
  position: absolute;
  top: 2rem; //30
  left: 2rem; //30
  width: 15rem; // 220
  height: 4rem; //60
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 4px rgba(100, 100, 100, 0.2), -1px -.1px 4px rgba(100, 100, 100, 0.2);
  display: flex;
  align-items: center;

  div {
    padding: 0 .8rem; //10
  }
}

.circle-2 {
  position: absolute;
  top: 1rem; //50%
  // transform: translateY(-50%);
  left: 1rem; //15
  width: 17rem; //250
  height: 6rem; //85
  border: 0px solid #fff;
  border-radius: 6rem;
  background-color: #fff;
  box-shadow: inset 1px 2px 4px rgba(100, 100, 100, 0.2);
  z-index: -2;
}

.just_cont_flex_end {
  justify-content: flex-end;
}

.self_cont_flex_start {
  width: 60%;
}