// Background img

.bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .svg {
    position: absolute;
    opacity: .05;
    z-index: -1;

    &1 {
      top: -65px;
      right: -10px;
    }

    &2 {
      top: 350px;
      left: 30px;
      opacity: .05;
    }

    &3 {
      width: 300px;
      height: 250px;
      top: 220px;
      left: 47%;
      transform: translateX(-50%);
      opacity: 1;
    }
  }
}

// HEADER SECTION

header {
  $line-height: 4.8rem; //
  height: 10rem;
  background-color: #7fffd41a;

  ul {
    display: flex;
    height: $line-height;
    align-items: flex-end;
    font-weight: bold;
  }

  .container-large {

    nav {
      height: $line-height;
      margin-top: 2rem; //

      .nav_logo {
        height: $line-height;
        float: left;
        margin-right: 4.5rem; //

        img {
          height: 95%; //
        }
      }

      .nav_menu {
        li {
          padding: .5rem 2rem; //

          a {
            color: $primary;
            font-family: "Helvetica bold", Arial, sans-serif;
            font-size: 1;

            i {
              color: #cb352d;
              font-size: 1.1rem; //
              padding-right: .3rem; //
            }
          }
        }
      }
    }

    .breadcrumb {

      ul {
        height: 3.3rem; //
        font-family: "Helvetica bold", Arial, sans-serif;
        font-size: .9rem; //

        li {

          &:last-child {
            a {
              color: black;
            }

            &:after {
              content: "";
            }
          }

          &:after {
            content: "/";
            color: black;
            padding: 0 .3rem; //
          }

          a {
            color: #337ab7;
          }
        }
      }
    }
  }
}

// MAIN

main {

  .wrap_img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    overflow: hidden;

    img {

      display: block;
      height: 39rem; //
      // float: right;
      padding-top: .7rem; //
      padding-left: 51.5rem; //
      overflow: hidden;
    }
  }

  // Section Registration

  .reg_section {
    background-color: #7fffd41a;

    .container-large {

      h1 {
        margin-top: 2.4rem; //
        margin-bottom: 0;
        line-height: 1;
        // letter-spacing: 1px; //

        span {
          color: $primary;
        }
      }

      h4 {
        font-weight: normal;
        margin: 2.5rem 0 .4rem; //
      }

      ul {

        li {
          text-transform: uppercase;
          line-height: 2.6rem; //
          font-size: .95rem; //
          // font-family: "Helvetica bold", Arial, sans-serif;
          // font-weight: normal;
        }
      }

      div {
        margin: 2.3rem 0 1.6rem; //
        background-color: transparent;

        & a:last-child {
          line-height: 1;
          margin-left: .6rem; //

          span {
            display: inline-block;
            margin-top: .7rem;
          }
        }
      }

      .button {
        vertical-align: middle;
      }

      hr {
        position: relative;
        z-index: -2;
        margin: .5rem 0;
      }

      .advantages {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        height: 5rem; //
        padding-left: .25rem;

        div {
          margin: 0;

          h6 {
            // margin: 1rem 0 0;
            margin: 0;
            padding: 1rem 0 0 0; //
            font-weight: normal;
            line-height: 1;
            color: $primary;
            font-size: .95rem; //
          }

          p {
            margin: 0;
            line-height: 1;
            text-transform: lowercase;
            color: #000;
            // font-size: .8rem;
          }
        }

        .div_circle {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #ff001d;
          text-align: center;
          margin-right: 1rem;

          img {
            width: 100%;
          }
        }

        li {
          @extend .advantages;
          margin-right: 1.6rem;

          & div:last-child {
            margin-right: 0; //
          }

          &:last-child {
            margin-left: 1.9rem;
          }
        }
      }

      .advantages-mobile-wrap {
        display: none;
      }
    }
  }

  // Section Showcase
  .showcase {

    .container {
      color: #fff;
      background-color: #7fffd41a;
      margin: 2.2em 0;
      // padding: 2.2rem 0;

      .wrap_showcase {
        width: 56%;
        // width: 72vw;
        height: 27rem;
        margin: 0 auto;
        background: url("../img/showcase.png") no-repeat center/cover;
        margin-bottom: 3rem;

        h4 {
          color: #fff;
          font-weight: normal;
          margin-left: 4.2rem;
          margin-bottom: 1.3rem;
          padding-top: 6.3rem;

          &::after {
            content: "";
            display: block;
            width: 4.2rem;
            height: 2px;
            background: #fff;
            margin-top: 1.1rem;
          }
        }

        p {
          width: 24rem;
          margin-left: 4.2rem;
          font-size: .87rem;
          line-height: 1.2;
        }
      }
    }
  }

  // Section Order

  .order {

    .hidden {
      display: block;
    }

    .mobile {
      display: none;
    }

    h4 {
      font-weight: normal;
      // padding: 2rem 0;
    }

    .container {
      background-color: #7fffd41a;
      position: relative;

      .svg {
        position: absolute;
        opacity: .05;
        z-index: -1;
        width: 45vw;

        &5 {
          bottom: -10px;
          left: -100px;
        }

        &6 {
          bottom: -10px;
          right: -100px;
        }
      }


      .container-large {
        background-color: transparent;

        .row {
          display: grid;
          justify-content: center;
          grid-column-gap: 4rem; //
          font-size: .9rem;

          &-4 {
            grid-template-columns: 12.5rem 12.5rem 12.5rem 12.5rem; //
            padding-top: .5rem;

            .row_item {
              position: relative;

              .round {
                display: none;
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgb(255, 255, 255);
                width: 60px;
                height: 60px;
                border-radius: 50%;
                z-index: 8;
              }

              .clipped {
                background-color: #fff;
                clip-path: polygon(0 0, 100%0, 61%93%, 59%96%, 57%99%, 55%100%, 45%100%, 43%99%, 41%96%, 39%93%);
                z-index: 9;

                div {
                  background-color: #fff;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  box-shadow: inset 0px 3px 5px rgba(153, 153, 153, 0.5);
                }
              }
            }
          }

          &-3 {
            grid-template-columns: repeat(3, 12.5rem);
            margin-top: -2.8rem; //

            .row_item {
              position: relative;

              .round {
                display: none;
                position: absolute;
                top: -3px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #fff;
                width: 60px;
                height: 60px;
                border-radius: 50%;
              }

              .clipped {
                background-color: #fff;
                clip-path: polygon(0 100%, 100%100%, 61%7%, 59%4%, 57%1%, 55%0, 45%0, 43%1%, 41%4%, 39%7%);
                z-index: 9;

                div {
                  background-color: #fff;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  box-shadow: inset 0px 3px 5px rgb(153, 153, 153, 0.5);
                }
              }
            }
          }

          .row_item {
            text-align: center;
            width: 100%;
            height: 8.8rem; //

            div {
              position: relative;
              width: 100%;
              height: 50%;
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: 1px 1px 10px rgb(153, 153, 153, 0.5);
              z-index: 10;

              p {
                margin: 0;
              }
            }
          }
        }
      }

      .div_buttons {
        margin: 3.2rem 0; //

        .button {
          vertical-align: middle;
        }
      }
    }
  }

  // Section Allows

  .allows {
    background-color: #7fffd41a;

    .hidden {
      display: block;
    }

    .mobile {
      display: none;
    }

    .container-large {

      h4 {
        margin: 4.2rem 0 3rem;
      }

      p {
        font-size: .9rem;
      }

      .row {
        display: grid;
        justify-content: space-between;

        // &:first-child {
        //   justify-content: left;
        // }

        &-3 {
          grid-template-columns: repeat(3, 19rem);
          justify-items: center;
        }
      }
    }

    .div_buttons {
      padding: 4.8rem 0 3rem;


      .button {
        vertical-align: middle;
      }
    }
  }
}

//FOOTER

footer {
  background-color: #7fffd41a;

  .container-large {
    @mixin flex-base($position) {
      display: flex;
      align-items: center;
      justify-content: $position;
    }

    color: #000;
    margin-bottom: 1rem;

    hr {
      margin-bottom: 1.5rem;
    }

    ul {
      @include flex-base(space-between);
      font-size: .8rem;

      li {
        @include flex-base(flex-start);
        margin: 0 5px;

        div:first-child {
          margin: 0 1rem 0 0;

          img {
            width: 25px;
          }
        }

        div:last-child {

          img {
            width: 80px;
          }
        }
      }
    }
  }
}