// Styles for tablet 

@media (min-width: 768px) and (max-width: 1024px) {


  // Buttons

  .button {
    // text-decoration: none;
    // display: inline-block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    // border-radius: .5rem;
    // text-align: center;
    // font-size: .8rem;

    // &-red {
    //   background-image: linear-gradient(0deg, #a24942 0%, #cb342e 100%);
    // }

    // &-2 {
    //   line-height: 1;
    //   margin-left: 1rem;

    //   span {
    //     display: inline-block;
    //     margin-top: .5rem;
    //   }
    // }

    // &:hover {
    //   background-image: linear-gradient(#0084c5, #00bee3);
    // }
  }

  // Background img

  // .bg_img {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   overflow: hidden;

  //   .svg {
  //     position: absolute;
  //     opacity: .05;
  //     z-index: -1;

  //     &1 {
  //       top: -65px;
  //       right: -10px;
  //     }

  //     &2 {
  //       top: 350px;
  //       left: 30px;
  //       opacity: .05;
  //     }

  //     &3 {
  //       width: 300px;
  //       height: 250px;
  //       top: 220px;
  //       left: 47%;
  //       transform: translateX(-50%);
  //       opacity: 1;
  //     }
  //   }
  // }

  // HEADER SECTION

  header {
    $line-height: 5rem;

    ul {
      align-items: flex-end;
    }

    .container-large {

      nav {
        height: $line-height;
        margin-top: 0;

        .nav_logo {
          margin-right: 2rem;


          img {
            margin-top: 15%;
            height: 80%;
          }
        }

        .nav_menu {
          li {
            padding: 0 1rem;
          }
        }
      }

      .breadcrumb {

        ul {
          height: 40px;
          font-family: "Helvetica", Arial, sans-serif;
          font-size: .8rem;

          li {

            &:after {
              padding: 0 .4rem;
            }
          }
        }
      }
    }
  }

  // MAIN

  main {

    .wrap_img {
      // position: absolute;
      // width: 100%;
      // height: auto;
      // top: 100px;
      // left: 50%;
      // transform: translateX(-50%);
      // z-index: -1;
      // overflow: hidden;

      img {
        // display: block;
        height: 400px;
        // float: right;
        // padding-top: 0;
        padding-right: 3vw;
        // overflow: hidden;
      }
    }

    // Section Registration

    .reg_section {

      .container-large {

        h1 {
          font-size: 2.9rem;
        }

        h4 {
          font-size: 1.2rem;
          // font-weight: normal;
          // margin: 2rem 0 .2rem;
        }

        // div {
        //   margin: 2rem 0 1.2rem;
        //   background-color: transparent;

        //   & a:last-child {
        //     line-height: 1;
        //     margin-left: 1.1rem;

        //     span {
        //       display: inline-block;
        //       margin-top: .5rem;
        //     }
        //   }
        // }

        // .button {
        //   vertical-align: middle;
        // }

        // hr {
        //   position: relative;
        //   z-index: -2;
        //   margin: .5rem 0;
        // }

        .advantages {
          // display: flex;
          // align-items: center;
          // justify-content: flex-start;
          // position: relative;
          // height: 90px;

          // div {
          // margin: 0;

          // h6 {
          //   margin: 0;
          //   font-weight: normal;
          //   line-height: 1.1;
          //   color: $primary;
          //   font-size: .9rem;
          // }

          // p {
          //   margin: 0;
          //   line-height: 1;
          //   text-transform: lowercase;
          //   color: #000;
          //   // font-size: .8rem;
          // }
          // }

          .div_circle {
            // width: 40px;
            // height: 40px;
            // border-radius: 50%;
            // border: 1px solid #ff001d;
            // text-align: center;
            margin-right: .5rem;

            // img {
            //   width: 100%;
            // }
          }

          li {
            // @extend .advantages;

            & div:last-child {
              margin-right: 1.5rem;
            }
          }

        }

        .advantages-mobile-wrap {
          display: none;
        }
      }
    }

    // Section Showcase
    // .showcase {

    //   .container {
    //     color: #fff;
    //     background-color: #7fffd41a;
    //     margin: 30px 0;

    //     .wrap_showcase {
    //       width: 900px;
    //       // width: 72vw;
    //       height: 450px;
    //       margin: 30px auto;
    //       background: url("../img/showcase.png") no-repeat center/cover;

    //       h4 {
    //         color: #fff;
    //         font-weight: normal;
    //         margin-left: 90px;
    //         margin-bottom: 2rem;
    //         padding-top: 100px;

    //         &::after {
    //           content: "";
    //           display: block;
    //           width: 75px;
    //           height: 2px;
    //           background: #fff;
    //           margin-top: 20px;
    //         }
    //       }

    //       p {
    //         width: 370px;
    //         margin-left: 90px;
    //       }
    //     }
    //   }
    // }

    // Section Order

    .order {

      // h4 {
      //   font-weight: normal;
      // }

      .container {
        // background-color: #7fffd41a;
        // position: relative;

        // .svg {
        //   position: absolute;
        //   opacity: .05;
        //   z-index: -1;
        //   width: 45vw;

        //   &5 {
        //     bottom: -10px;
        //     left: -100px;
        //   }

        //   &6 {
        //     bottom: -10px;
        //     right: -100px;
        //   }
        // }

        // .hidden {
        //   display: block;
        // }

        // .mobile {
        //   display: none;
        // }

        .container-large {
          background-color: transparent;

          .row {
            // display: grid;
            // justify-content: center;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            // font-size: .9rem;


            &-4 {
              grid-template-columns: 180px 180px;
              // padding-top: 5px;

              // .row_item {
              // position: relative;

              // .round {
              //   display: none;
              //   position: absolute;
              //   bottom: -3px;
              //   left: 50%;
              //   transform: translateX(-50%);
              //   background-color: rgb(255, 255, 255);
              //   width: 60px;
              //   height: 60px;
              //   border-radius: 50%;
              //   z-index: 8;
              // }

              // .clipped {
              //   background-color: #fff;
              //   clip-path: polygon(0 0, 100%0, 61%93%, 59%96%, 57%99%, 55%100%, 45%100%, 43%99%, 41%96%, 39%93%);
              //   z-index: 9;

              //   div {
              //     background-color: #fff;
              //     width: 50px;
              //     height: 50px;
              //     border-radius: 50%;
              //     box-shadow: inset 0px 3px 5px rgba(153, 153, 153, 0.5);
              //   }
              // }
              // }
            }

            &-3 {
              grid-template-columns: 1fr 1fr 1fr;

              // .row_item {
              // position: relative;

              // .round {
              //   display: none;
              //   position: absolute;
              //   top: -3px;
              //   left: 50%;
              //   transform: translateX(-50%);
              //   background-color: #fff;
              //   width: 60px;
              //   height: 60px;
              //   border-radius: 50%;
              // }

              // .clipped {
              //   background-color: #fff;
              //   clip-path: polygon(0 100%, 100%100%, 61%7%, 59%4%, 57%1%, 55%0, 45%0, 43%1%, 41%4%, 39%7%);
              //   z-index: 9;

              //   div {
              //     background-color: #fff;
              //     width: 50px;
              //     height: 50px;
              //     border-radius: 50%;
              //     box-shadow: inset 0px 3px 5px rgb(153, 153, 153, 0.5);
              //   }
              // }
              // }
            }

            // .row_item {
            // text-align: center;
            // width: 100%;
            // height: 120px;

            // div {
            //   position: relative;
            //   width: 100%;
            //   height: 50%;
            //   background-color: #fff;
            //   display: flex;
            //   justify-content: center;
            //   align-items: center;
            //   box-shadow: 1px 1px 10px rgb(153, 153, 153, 0.5);
            //   z-index: 10;

            //   p {
            //     margin: 0;
            //   }
            // }
            // }
          }
        }

        .div_buttons {
          // margin: 50px 0;

          .button {
            // vertical-align: middle;

            span {
              margin-top: 5px;
              line-height: 1;
            }
          }
        }
      }
    }

    // Section Allows

    .allows {
      // background-color: #7fffd41a;

      // .hidden {
      //   display: block;
      // }

      // .mobile {
      //   display: none;
      // }

      .container-large {

        .row {
          // display: grid;
          // justify-content: space-between;
          grid-row-gap: 20px;

          &-3 {
            // grid-template-columns: repeat(3, 1fr);
            grid-template-columns: 1fr 1fr;
            justify-items: center;
          }

          &-3 :nth-child(2) {
            // grid-template-columns: repeat(3, 1fr);
            grid-template-columns: 1fr;
            // justify-items: center;
          }
        }
      }

      .div_buttons {
        // padding: 50px 0;


        .button {
          // vertical-align: middle;

          span {
            margin-top: 5px;
            line-height: 1;
          }
        }
      }
    }
  }

  //FOOTER

  // footer {
  //   // background-color: #7fffd41a;

  //   .container-large {
  //     // // @mixin flex-base($position) {
  //     // //   display: flex;
  //     // //   align-items: center;
  //     // //   justify-content: $position;
  //     //   // flex-wrap: wrap;
  //     // }

  //     // color: #000;
  //     // margin-bottom: 1rem;

  //     // hr {
  //     //   margin-bottom: 1.5rem;
  //     // }

  //     // ul {
  //     //   @include flex-base(space-between);
  //     //   font-size: .8rem;

  //     //   // li {
  //     //   //   @include flex-base(flex-start);
  //     //   //   margin: 0 5px;

  //     //   //   // div:first-child {
  //     //   //   //   margin: 0 1rem 0 0;

  //     //   //   //   img {
  //     //   //   //     width: 25px;
  //     //   //   //   }
  //     //   //   // }

  //     //   //   // div:last-child {

  //     //   //   //   img {
  //     //   //   //     width: 80px;
  //     //   //   //   }
  //     //   //   // }
  //     //   // }
  //     // }
  //   }
  // }

}